@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


.gradient {
  background: linear-gradient(#e66465, #9198e5);
}

.search {
  -webkit-appearance: none;
}

.deadline {
  @apply py-8 mx-6 flex justify-start items-center border-b h-48;
  @screen sm {
    @apply py-8 mx-12 flex justify-start items-center border-b;
  }
}



.deadline-text {
  @apply text-gray-600 text-4xl font-bold lowercase;
}

.GrayHeader {
  @apply text-gray-700 font-bold text-lg inline-block;
  @screen md {
    @apply text-gray-700 font-bold text-xl inline-block;
  }
}

.SmallHeader {
  @apply text-gray-700 font-bold text-lg inline-block;
  @screen md {
    @apply text-gray-700 font-bold text-xl inline-block;
  }
}

.deadline-info {
  @apply flex justify-between w-full items-center px-2;
  @screen md {
    @apply flex justify-between w-full items-center px-6;
  }
}

.list-item {
  @apply mb-1 text-gray-600 text-base;
  @screen md {
    @apply mb-1 text-gray-600 text-lg;
  }
}

.label {
  @apply text-base font-bold mr-1;
  @screen md {
    @apply text-lg font-bold mr-1;
  }
}

.icon {
  @apply h-16 mr-5;
  @screen sm {
    @apply h-24 mr-10;
  }
}

.ballot-bar {
  @apply py-4 flex items-center w-full relative bg-lightblue;
}

.ballot-bar-header {
  @apply text-gray-700 text-3xl font-bold;
}

.modal {
  top: 28%;
}

.Contest {
  @apply p-5;
}

.Candidate {
  @apply text-center w-full flex rounded shadow flex-col items-center;
}

.Contest-Grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  @screen sm {
    grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
  }
}

.Registered {
  @apply py-8 mx-6 flex justify-start items-center border-b h-48;
  @screen sm {
    @apply py-8 mx-12 flex justify-start items-center border-b;
  }
}


